body {
  background-color: black;
}
.newsDiv {
  border: 1px gray solid;
  width: 49%;
  text-align: center;
  background-color: #393e46;
  color: white;
  margin: 5px;
  border-radius: 5px;
  overflow: auto;
  transition: 500ms;
}
.newsDiv:hover {
  cursor: pointer;
  opacity: 80%;
}
a {
  text-decoration: underline;
  color: wheat;
  transition: 500ms;
}

span {
  display: block;
  margin-top: 10px;
}

a:hover {
  color: wheat;

  transition: 500ms;
}
#rundown {
  color: wheat;
  letter-spacing: 2px;
  text-align: center;
}
#box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 0;
  background-color: black;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  scale: 1; */
}

button {
  height: 3vh;
  margin: 1px;
  background-color: wheat;
  color: black;
  border-radius: 1px;

  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;

  font-size: 20px;

  text-decoration: none;
}

#changeModes {
  background-color: #333;
  color: #fff;
  border: none;

  cursor: pointer;
}

.light-mode {
  background-color: #fff;
  color: #333;
}
